
@{
    ViewBag.Title = "New Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Purchase</h2>

<form id="newPurchase">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Curtain</label>
        <div class="tt-container">
            <input id="curtain" name="curtain" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="curtains" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary" >Submit</button>
</form>

@section  scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var vm = {
                curtainIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                limit: 50,
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

            //curtains
            var curtains = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/curtains?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#curtain').typeahead({
                minLength: 3,
                highlight: true
            }, {
                limit: 50,
                name: 'curtains',
                display: 'name',
                source: curtains
            }).on("typeahead:select", function (e, curtains) {
                $("#curtains").append("<li class='list-group-item'>" + curtains.name + "</li>");

                $("#curtain").typeahead("val", "");

                vm.curtainIds.push(curtains.id);
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("atleastOneCurtain", function () {
                return vm.curtainIds.length > 0;
            }, "Please select atleast one curtain.");

            var validator = $("#newPurchase").validate({
                rules: {
                    customer: { validCustomer: true },
                    curtain: { atleastOneCurtain: true }
                },
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newPurchases",
                        method: "post",
                        data: vm
                    })
                    .done(function () {
                        toastr.success("Purchase successfully recorded.");

                        $("#customer").typeahead("val", "");
                        $("#curtain").typeahead("val", "");
                        $("#curtains").empty();

                        vm = { curtainIds: [] };
                        validator.resetForm();
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happenned.");
                    });

                    return false;
                }
            });
        })
    </script>
}
