<appSettings>
  <add key="MailServer" value="dev-smtp-marfazhfashion.com"/>
  <add key="FacebookAppId" value="277871503555034"/>
  <add key="FacebookAppSecret" value="fc2a1e280e7a8a6a01c0a093147d4745"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>