@model IEnumerable<MarfazahFashion.Models.Curtain>
@{
    ViewBag.Title = "Curtains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Curtains</h2>

@if (!Model.Any())
{
    <text>We currently don't have any curtain yet!</text>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curtain in Model)
        {
            <tr>
                <td>@Html.ActionLink(curtain.Name, "Detail", "Curtains", new { id = curtain.Id }, null)</td>
                <td>@curtain.CurtainType.Name</td>
            </tr>
        }
    </tbody>
</table>
}

